.btn {
    transition: all 0.3s ease-in-out;
    background-color: #057;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0b3;
}